/* 

* {
padding: 0px;

}

#menu-horizontal {
    background-color: rgb(107, 158, 107);
    max-width: 879px;
}

#menu-horizontal ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
}

#menu-horizontal ul li {
    display: inline;
}

#menu-horizontal ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .5s;
}

#menu-horizontal ul li a:hover {
    background-color: rgba(24, 233, 198, 0.514) ;
}

div {
    text-align: justify;
    background: linear-gradient(125deg, rgba(115, 240, 157, 0.185), rgba(63, 226, 150, 0.575));
    max-width: 820px;
    border-radius: 10px;
    padding: 30px;

}

#timbre_instr_img {

    float: left;
}



